<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="DB2Tables"    targetRuntime="MyBatis3">
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>

        <!-- 使用自定义的插件 -->
        <!--    <commentGenerator type="com.example.springdemo.util.MyCommentGenerator">

            </commentGenerator>-->
        <!--数据库链接地址账号密码-->
        <jdbcConnection driverClass="com.microsoft.sqlserver.jdbc.SQLServerDriver" connectionURL="jdbc:sqlserver://10.100.171.244:1850;DatabaseName=TCGlobalHotelOrders" userId="TCIntHotel_QA" password="OkXZ2pM39GEKNzhAiLHe">
            <property name="remarksReporting" value="true"></property>
        </jdbcConnection>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!--生成Model类存放位置-->
        <javaModelGenerator targetPackage="com.adam.entity" targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!--生成映射文件存放位置-->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>
        <!--生成Dao类存放位置-->
        <!-- 客户端代码，生成易于使用的针对Model对象和XML配置文件 的代码
                type="ANNOTATEDMAPPER",生成Java Model 和基于注解的Mapper对象
                type="MIXEDMAPPER",生成基于注解的Java Model 和相应的Mapper对象
                type="XMLMAPPER",生成SQLMap XML文件和独立的Mapper接口
        -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.adam.dao" targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>
        <!--&lt;!&ndash;生成对应表及类名&ndash;&gt;-->
     <!--   <table tableName="Orders" domainObjectName="Orders"
        enableCountByExample="false"
        enableUpdateByExample="true"
        enableDeleteByExample="true"
        enableSelectByExample="true"
        selectByExampleQueryId="true">
        </table>-->
        <!--&lt;!&ndash;<table tableName="OrderFlow" domainObjectName="OrderFlow"&ndash;&gt;-->
        <!--&lt;!&ndash;enableCountByExample="false"&ndash;&gt;-->
        <!--&lt;!&ndash;enableUpdateByExample="true"&ndash;&gt;-->
        <!--&lt;!&ndash;enableDeleteByExample="true"&ndash;&gt;-->
        <!--&lt;!&ndash;enableSelectByExample="true"&ndash;&gt;-->
        <!--&lt;!&ndash;selectByExampleQueryId="true">&ndash;&gt;-->
        <!--&lt;!&ndash;</table>&ndash;&gt;-->
       <!-- <table tableName="OrderDetail" domainObjectName="OrderDetail"
        enableCountByExample="false"
        enableUpdateByExample="true"
        enableDeleteByExample="true"
        enableSelectByExample="true"
        selectByExampleQueryId="true">
        </table>-->
      <!--  <table tableName="OrderRequestSupplierLog" domainObjectName="OrderRequestSupplierLog"
        enableCountByExample="false"
        enableUpdateByExample="true"
        enableDeleteByExample="true"
        enableSelectByExample="true"
        selectByExampleQueryId="true">
        <generatedKey column="id" sqlStatement="SQLSERVER" identity="true"/>
        </table>
        <table tableName="OrderStatistics" domainObjectName="OrderStatistics"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">
            <generatedKey column="id" sqlStatement="SQLSERVER" identity="true"/>
        </table>-->
        <!--  <table tableName="OrderCancelPolicy" domainObjectName="OrderCancelPolicy"
                 enableCountByExample="false"
                 enableUpdateByExample="true"
                 enableDeleteByExample="true"
                 enableSelectByExample="true"
                 selectByExampleQueryId="true">
              <generatedKey column="id" sqlStatement="SQLSERVER" identity="true"/>
          </table>-->
          <table tableName="OrderRoom" domainObjectName="OrderRoom"
                 enableCountByExample="false"
                 enableUpdateByExample="true"
                 enableDeleteByExample="true"
                 enableSelectByExample="true"
                 selectByExampleQueryId="true">
              <generatedKey column="id" sqlStatement="SQLSERVER" identity="true"/>
          </table>
       <!-- <table tableName="OrderExtendInfo" domainObjectName="OrderExtendInfo"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">
            <generatedKey column="id" sqlStatement="SQLSERVER" identity="true"/>
        </table>-->
    </context>
</generatorConfiguration>